language: python
python:
- '3.6'
before_install:
- openssl aes-256-cbc -K $encrypted_f878a7b22ad9_key -iv $encrypted_f878a7b22ad9_iv
  -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
- mv google_compute_engine /home/travis/.ssh/
- chmod 0600 /home/travis/.ssh/google_compute_engine
install:
- pip install ansible==2.7 molecule pycrypto apache-libcloud
env:
  matrix:
  - GCE_CREDENTIALS_FILE="$(pwd)/credentials.json"
  global:
  - secure: sVStauDQnFPnYAKw2bmAjudr9mkipqHpJmcNNiHy1DRtUVlqtGF+0slB2tIOB7CAXfoAYouYJLPdrIDy8LzgTYnUnY+wunXdlit6MUK7kg33ek00pRtKcIS5W3f+AX0K9k7Hsma5puaxeUZwb4PZQOz/PHi3KoGIrAM3iu9xU9a3/20UjLLzDU5hx4eljFiLz1ATsjboFLzV1ZLkYU6rn6rUdBxrw8HkQ1wJQxCrdrs4W1Iy8qg4ZWQCmDNYSy1tR1w4pXEsR6T9GfOr8qgT76ESnHOMw5tRQNP49fPtBbPR3ruCsJvXHV/DHKTXsAuyP2nIp7PoZ8zBAePQR3sAJwpTIj6cZ4BU6kCKMcCMb4SQBaMRjcvUHtHQ6Y/aCFLSrrxRJRLE1EqSsZT6BoG/boSuj+Cil4I7yAkD7LJXF8UfAKQSYDuB5SqYFtLUrJgKxJgUa2P9Pvib8ivBl4hvtzBVqNbaiOcxrpqk2nb5pAMF27222mOFXNzsmQth1WYp6ijilhQYOOtEceVd7/BwTo+wN2niDvlagzCvtL+1gS6rIyZZ//59e/TKcfYYYnj3uBfoTVaylQL97KDf/G9A9QnQZtlQg12Xl7FLkIvnpVaScOXApoIsdPa0S39dlUFN4YP9sodNb0arbw805KzWUY90xCZEAObBa3K3WS9d58A=
  - secure: qwUijjn06Y1M0HTIzf0vTWibC4F+A312ttiOZDeY9VitEjbRtiZpfs4QgEuYgWSaQrWNza5D83uMnvdAvrVp4hDW7IDgL6DwqJx0QvtdVuO5ZaENlSwPEq/V6IYxmcXFp90YHsnsP7HRzYA4lJIfDt8Gx5dj129NFpj4VfGaccFJe+zvdrFdZuw2SgUyoV3QLe9+AoICLurm8tNV8X/7mkb8vWak5yGS0V0qOBkYaLoPHudF4tpo1f7jcmCAEfAzzD49LaM1ciOyh0SiAhdH2RpJPeGBTLRuxJ9u34D6CSa95Vu6sT16XEOj2FgqcOYEaRTaOwaZZQhQy9kWHwFSrBM7pq+YQ6ijMlGHR8DxwkE0kgovCIVDFpszVtBMNSjSmrJ4248N6FFGY4Ze2LALv9iK30nvNv5CSGifU9qibQ1Skl90fjqzpE01Esqc71Ju8VkXlgtWjdhezzJW/HpUItJcb4DQzcBaODRPNQkX8ZzQ+Lv4T+9EptSAwm28lYcTpTl0jf0DKya1K95ZICMzweRlbfiYbh7R4Ex308eH5hWHG/oVKuast6SZt8v+P29aWO08hpcAzk0n5Z2+VoOvGVJ5Ms/7pByk+9G/qZTzCjwTEN7rfl1whGbA9jxKF+iPyjIICJfdZ6pGRwGvNTu3r1xcewqHctLPVad/owcwO7k=
  - secure: lcgZdlVPWFBHivQziS/QUbmf85Knhcf23/eXQFD3b75VxBON3irns39zXbxuIo4cU1msmm45mSWz/qc/ppqsY9yhQntTzCIn9YezcUrOO+ZWv6elpX8TpghHJLGZjvClH++LRW/SeZOOJLk73FWEASgg0xD0lV9WVblg5mwqfa9+q6aBAnKFyqY/j186NiadLcU9kUrQQEeyoF8ou91R9ueI20zcEpkoleK8I+W4lUN7s/Px6wUKnbTtZrnr0mnc6HGsHtRqihsxS86HR5TqVnP0Y+A2AJv+/A+gsI++ztsgJXoPUCAavtSVGLj9DWX7zQ8PSGc4UPCBFCW/nwH9KOh+B8XQap0FAfwyz/8tiuxC/PlkyCQxzcuCqj0aLVFyDN7VKuxf/LuOkW933E73BNt5ik45YFPmAf0hgGsXrB1Ny+yJlx8G4WSGkXUuOExDaoJdBoMWdHW0wIS4SBBFod7e52hYgJjkDIXIPRDV8cLZJEF2j7mDvhV0E/UUcAQ2G9ZEnxqKnAqicR77OPkYu77vX1FxJlMwAPg8469qYi1shGkios2G21sNIGSRf+MQ4R6EJeO5W68Gw42J7IY7gE5ubENjPKF/TZhnRUK+OXiesjhv8tZfiTN9qbMoWV1q0Z4Tj1ZHXf2y+GJ/nCd8mY+D70QXEh7mH5fvuSCOlhY=
script:
- molecule --debug create
- molecule converge
- molecule verify
after_script:
- molecule destroy
notifications:
  slack:
    secure: zwtlOdbw3M1vV+m+hlMADieTltDPQpMX0YEJOS37OFQv6l1RuORtNlQCdfylLbGIGT5CY2RYV1XX48DNHEYo9lX/TJHCbS+0c4nw3t/VcAn0WR1ZqAFKe4t8eria1dTtLNAwSCFNyaMqWuEdfl0uWu2YMmqNlpEe/2uCmOF7iag5uftwf7YsVH3KH0ZoNFlycuZ21G+BP8juI8F6WT22x6/jmH8sUHPK5Qhyn1rxpkqja5wzra1XkqezrGzyJCvdDFXXI8f1DqAJTNcmOTV/A48s3ZCGaLeYZO7Ce3ruCfj33+SKXqPaOsiuj6EQ8YIMehedLzSJUcSb+b0JNCZvTCM3zVGgHbP+o+LfImQtfRA73OFpAfSTXLmVIU/f3fD6C0oUJhrSVW2BnVeXIbR1G9JmoZTBMFiT/kkKrCoeHZ08RBsp1kwOAPqg0e22vNi+8gIv0sNU7u0tsrKdbU9KaI/KtcidcjAL1oxjiTdgB1swthCWzHDoDnk1HyL5wY1qLKYeba8VOh7xF4H9XSAf60A8lMUBImTljbhNLiCFsVJpMVie/VzNZ1RMXdclD4NLLNK1l1/uulA73xTn6Dk/CcWwCOjgQdxzJ9g8pk/HOaTVbND3uKZJ7PwQYJ4xdGMMBHiE82PYmzXVfy4PZFVv3fjCkBdoWvr/caYebgndNH8=
